<!DOCTYPE html>
<html>
    <head>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>New Post</title>
            <link rel="stylesheet" href="https://unpkg.com/twinklecss@1.2.1/twinkle.min.css"/>
        </head>
    </head>
    <body style="background-color: #F1F1F1;">
        <div class="bg-black">
            <ul class="m-0 p-0 text-white flex">
                <li class="float"><a class="block p-4" href="login">Login</a></li>
                <li class="float"><a class="block p-4" href="notes">News</a></li>
                <li class="float"><a class="block p-4" href="users">Users</a></li>
                <li class="float"><a class="block bg-black p-4" href="new">New Post</a></li>
              </ul>
        </div>


        <div class="flex m-10 justify-center">
        <form method="post">
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                  Titel
                </label>
                <input type="text" name="title" class="w-96 rounded"><br>
            </div>

            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                  Text
                </label>
            <textarea type="numer" name="text" class="w-96 rounded"></textarea><br>
            </div>
            <input type="submit" class="p-4 rounded bg-black text-white">
        </form>
        </div>
    </div>
    </body>


</html>